/* mixins */
/* constants */
/* base */
.layout-2-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-2-columns > * {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
}

h3 {
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

<<<<<<< Updated upstream
=======
.main {
  background: url(../../assets/images/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
}

@media (max-width: 1279px) {
  .main {
    height: 1165px;
  }
}

@media (max-width: 767px) {
  .main {
    height: 823px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 767px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1279px) {
  .container {
    margin: 0;
  }
}

.section-wrapper {
  margin-top: 0;
}

.no-scroll {
  overflow: hidden;
}

>>>>>>> Stashed changes
.button {
  height: 52px;
  background: transparent;
  border: none;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  cursor: pointer;
}

.button:hover {
  background-color: #FDDCC4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.button a {
  color: #545454;
  text-decoration: none;
}

.button-colored {
  background-color: #F1CDB3;
}

.button-bordered {
  border: 2px #F1CDB3 solid;
}

<<<<<<< Updated upstream
/* _______________________ */
html {
  font-size: 10px;
=======
.humbuger:before, .humbuger:after, .humburger__line {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #F1CDB3;
  width: 100%;
  height: 2px;
}

.humbuger {
  margin-right: 43px;
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

@media (max-width: 767px) {
  .humbuger {
    display: inline-block;
  }
}

.humbuger:before {
  top: 0;
  left: 0;
}

.humbuger:after {
  bottom: 0;
  left: 0;
}

.humburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.footer {
  background: url(../../assets/images/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
}

@media (max-width: 767px) {
  .footer {
    height: auto;
  }
>>>>>>> Stashed changes
}

.wrapper {
  width: 1280px;
  margin: auto;
}

.container {
  width: 1200px;
  margin: auto;
}

.section-wrapper {
  margin-top: 0;
}

.menu-burger-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.menu-burger {
  position: fixed;
  width: 320px;
  height: 100vh;
  right: -100%;
  z-index: 10;
  font-family: Arial;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.2rem;
  line-height: 160%;
  background-color: #292929;
  overflow-y: scroll;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.menu-burger.overlay {
  right: 0;
}

.menu-burger > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  list-style-type: none;
}

.menu-burger > ul > li {
  margin: 20px 0;
}

.menu-burger > ul > li > a {
  text-decoration: none;
  color: #FAFAFA;
}

.burger__menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-burger-inner {
  padding-top: 79px;
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.humbuger:before, .humbuger:after, .humburger__line {
  background-color: #000000;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 1280px;
  margin: auto;
  height: 120px;
  background-color: #FFFFFF;
}

.header__container {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 60px;
  margin-bottom: 39px;
  text-decoration: none;
  cursor: pointer;
}

.logo__main {
  margin-bottom: 10px;
  font-family: Georgia;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo__subtitle {
  margin-top: -3px;
  margin-left: 4px;
  font-family: Arial;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #545454;
}

.navigation-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-inner > * {
  margin-left: 35px;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  list-style-type: none;
  padding-bottom: 5px;
}

.navigation-inner > *:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-bottom: 3px #F1CDB3 solid;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.navigation-inner > * > * {
  text-decoration: none;
  color: #545454;
}

.nav__pets {
  border-bottom: 3px #F1CDB3 solid;
}

<<<<<<< Updated upstream
.not-only__main {
  margin-top: 128px;
=======
.hidden {
  opacity: 0;
}

@media (max-width: 1279px) {
  .friends__container {
    max-width: 580px;
    margin: auto;
  }
>>>>>>> Stashed changes
}

.not-only__title {
  width: 310px;
  font-family: Georgia;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4.4rem;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.not-only__subtitle {
  margin: 42px 0;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.not-only-btn {
  width: 207px;
}

.not-only__img {
  background: transparent;
}

/* pets */
.pets {
  height: 1332px;
  background-color: #F6F6F6;
}

.pets__title {
  margin: auto;
  padding-top: 70px;
  width: 400px;
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}

.pets__container {
  margin: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets__btn {
  height: 47px;
  width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px #F1CDB3 solid;
  border-radius: 100%;
  background: transparent;
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  line-height: 115%;
  color: #CDCDCD;
}

.pets__btn:nth-child(1) {
  border: 2px solid #CDCDCD;
}

.pets__btn:nth-child(2) {
  border: 2px solid #CDCDCD;
}

.pets__btn:nth-child(3) {
  background: #F1CDB3;
  color: #545454;
}

.pets__btn:nth-child(4) {
  color: #545454;
}

.pets__btn:nth-child(5) {
  color: #545454;
}

.btn__hover {
  cursor: pointer;
}

.btn__hover:hover {
  background-color: #FDDCC4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  border: 2px #FDDCC4 solid;
}

.pets__card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 9px;
  background-color: #FAFAFA;
  cursor: pointer;
}

.pets__card > img {
  margin-bottom: 30px;
  border-radius: 9px 9px 0 0;
}

.pets__card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__card:hover .card__btn {
  background-color: #FDDCC4;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px #FDDCC4 solid;
}

.card__name {
  margin-bottom: 33px;
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.06em;
}

.card__btn {
  width: 187px;
  text-align: center;
}

.pets__button {
  display: block;
  margin: 0 auto 100px auto;
  width: 261px;
  text-align: center;
}

.btn__wrapper {
  margin: auto;
  width: 340px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* footer */
.footer {
  background: url(../../assets/images/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
}

.layout-3-columns {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}

.layout-3-columns > img {
  margin-top: 40px;
}

.footer-inner {
  height: 234px;
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner > :nth-child(2) {
  margin-top: 4px;
  margin-bottom: 40px;
}

.footer-inner a {
  text-decoration: none;
}

.footer-inner-add {
  margin-left: -24px;
}

.footer-inner-add > :nth-child(2) {
  margin-top: -2px;
  margin-bottom: 32px;
}

.footer-inner__title {
  margin-top: 55px;
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-inner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inner__link > div {
  margin-left: 19px;
}

.footer-inner__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.footer-inner__link-content {
  text-decoration: none;
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */