/*    
        
        @mixin font ($family, $size, $height: $size, $weight: bold, $style: normal) {
            font-family: $family;
            font-size: $size;
            font-style: $style;
            font-weight: $weight;
            line-height: $height;
        }
        
        @mixin columns ($width) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            >* {
                flex-basis: $width;
            }
        }
        
        $color-primary: #F1CDB3;
        $color-bg: #F6F6F6;
        $color-light:#FFFFFF;
        $color-light-add: #FAFAFA;
        $color-black: #545454;
        $color-hovered: #FDDCC4;
        
        .layout-2-columns {
            @include columns($width: 39%)
        }
        
        h3 {
            @include font($family: Georgia, $size: 3.5rem, $weight: normal);
            line-height: 130%;
            letter-spacing: 0.06em;
        }
        
        .button {
            height: 52px;
            background: transparent;
            border: none;
            border-radius: 100px;
            @include font($family: Georgia, $size: 1.7rem, $weight: normal);
            line-height: 130%;
            letter-spacing: 0.06em;
            color: $color-black;
            cursor: pointer;
            &:hover {
                background-color: $color-hovered;
                transform: scale(1.1);
                transition: all .6s ease;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
            }
            a {
                color: $color-black;
                text-decoration: none;
            }
        }
        
        .button-colored {
            background-color: $color-primary;
        }
        
        .button-bordered {
            border: 2px $color-primary solid;
        }
        
        html {
            font-size: 10px;
        }
        
        .wrapper {
            width: 1280px;
            margin: auto;
        }
        
        .container {
            width: 1200px;
            margin: auto;
        }
        
        .section-wrapper {
            margin-top: 0;
        }
        
        .header {
            position: sticky;
            top: 0;
            width: 1280px;
            margin: auto;
            height: 120px;
            background-color: $color-light;
        }
        
        .header__container {
            width: 1200px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .logo {
            height: 60px;
            margin-bottom: 39px;
            text-decoration: none;
            cursor: pointer;
        }
        
        .logo__main {
            margin-bottom: 10px;
            @include font($family: Georgia, $size: 3.2rem, $weight: normal);
            line-height: 110%;
            letter-spacing: 0.06em;
            color: $color-black;
        }
        
        .logo__subtitle {
            margin-top: -3px;
            margin-left: 4px;
            @include font($family: Arial, $size: 1.3rem, $weight: normal);
            line-height: 1.5rem;
            letter-spacing: 0.1em;
            color: $color-black;
        }
        
        .navigation-inner {
            display: flex;
            >* {
                margin-left: 35px;
                @include font($family: Arial, $size: 1.5rem, $weight: normal);
                list-style-type: none;
                padding-bottom: 5px;
                &:hover {
                    transform: scale(1.1);
                    border-bottom: 3px $color-primary solid;
                    transition: all .4s ease;
                }
                >* {
                    text-decoration: none;
                    color: $color-black;
                }
            }
        }
        
        .nav__pets {
            border-bottom: 3px $color-primary solid;
        }
        
        .not-only__main {
            margin-top: 128px;
        }
        
        .not-only__title {
            width: 310px;
            @include font($family: Georgia, $size: 4.4rem, $weight: normal);
            line-height: 130%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }
        
        .not-only__subtitle {
            margin: 42px 0;
            @include font($family: Arial, $size: 1.5rem, $weight: normal);
            line-height: 160%;
            color: #CDCDCD;
        }
        
        .not-only-btn {
            width: 207px;
        }
        
        .not-only__img {
            background: transparent;
        }
        
        .pets {
            height: 1332px;
            background-color: $color-bg;
        }
        
        .pets__title {
            margin: auto;
            padding-top: 70px;
            width: 400px;
            @include font($family: Georgia, $size: 3.5rem, $weight: normal);
            line-height: 130%;
            letter-spacing: 0.06em;
            text-align: center;
        }
        
        .pets__container {
            margin: 60px 0;
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            align-items: center;
            justify-content: space-between;
        }
        
        .pets__btn {
            height: 47px;
            width: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px $color-primary solid;
            border-radius: 100%;
            background: transparent;
            @include font($family: Georgia, $size: 2.0rem, $weight: normal);
            line-height: 115%;
            color: #CDCDCD;
            &:nth-child(1) {
                border: 2px solid #CDCDCD;
            }
            &:nth-child(2) {
                border: 2px solid #CDCDCD;
            }
            &:nth-child(3) {
                background: #F1CDB3;
                color: $color-black;
            }
            &:nth-child(4) {
                color: $color-black;
            }
            &:nth-child(5) {
                color: $color-black;
            }
        }
        
        .btn__hover {
            cursor: pointer;
            &:hover {
                background-color: $color-hovered;
                transform: scale(1.1);
                transition: all .6s ease;
                border: 2px $color-hovered solid;
            }
        }
        
        .pets__card {
            width: 270px;
            height: 435px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-radius: 9px;
            background-color: $color-light-add;
            cursor: pointer;
            >img {
                margin-bottom: 30px;
                border-radius: 9px 9px 0 0;
            }
            &:hover {
                background-color: $color-light;
                box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
                .card__btn {
                    background-color: $color-hovered;
                    transition: all .3s ease;
                    border: 2px $color-hovered solid;
                }
            }
        }
        
        .card__name {
            margin-bottom: 33px;
            @include font($family: Georgia, $size: 2.0rem, $weight: normal);
            letter-spacing: 0.06em;
        }
        
        .card__btn {
            width: 187px;
            text-align: center;
        }
        
        .pets__button {
            display: block;
            margin: 0 auto 100px auto;
            width: 261px;
            text-align: center;
        }
        
        .btn__wrapper {
            margin: auto;
            width: 340px;
            height: 52px;
            display: flex;
            justify-content: space-between;
        }
        
        .footer {
            background: url(../../assets/images/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
        }
        
        .layout-3-columns {
            width: 1200px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            row-gap: 20px;
            >img {
                margin-top: 40px;
            }
        }
        
        .footer-inner {
            height: 234px;
            flex-basis: 27%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            >:nth-child(2) {
                margin-top: 4px;
                margin-bottom: 40px;
            }
            a {
                text-decoration: none;
            }
        }
        
        .footer-inner-add {
            margin-left: -24px;
            >:nth-child(2) {
                margin-top: -2px;
                margin-bottom: 32px;
            }
        }
        
        .footer-inner__title {
            margin-top: 55px;
            @include font($family: Georgia, $size: 3.5rem, $weight: 400);
            line-height: 130%;
            letter-spacing: 0.06em;
            color: $color-light;
        }
        
        .footer-inner__link {
            display: flex;
            align-items: center;
            >div {
                margin-left: 19px;
            }
            &:hover {
                transform: scale(1.1);
                transition: all .4s ease;
            }
        }
        
        .footer-inner__link-content {
            text-decoration: none;
            @include font($family: Georgia, $size: 2.0rem, $weight: 400);
            line-height: 115%;
            letter-spacing: 0.06em;
            color: $color-primary;
            cursor: pointer;
        } */
/* .header__navigation {
    @include media-tablet {
        display: none;
    }
} */
html {
  font-size: 10px;
}

body {
  margin: 0;
}

@media (max-width: 767px) {
  body {
    margin: 0;
  }
}

.layout-2-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.layout-2-columns > * {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
}

@media (max-width: 1279px) {
  .layout-2-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

h3 {
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.main {
  background: url(../../assets/images/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
}

@media (max-width: 1279px) {
  .main {
    height: 1165px;
  }
}

@media (max-width: 767px) {
  .main {
    height: 823px;
  }
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 767px;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1279px) {
  .container {
    margin: 0;
  }
}

.section-wrapper {
  margin-top: 0;
}

.button {
  height: 52px;
  background: transparent;
  border: none;
  border-radius: 100px;
  font-family: Georgia;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}

.button:hover {
  background-color: #FDDCC4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.button a {
  color: #292929;
  text-decoration: none;
}

.button-colored {
  background-color: #F1CDB3;
}

.button-bordered {
  border: 2px #F1CDB3 solid;
}

.humbuger:before, .humbuger:after, .humburger__line {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #F1CDB3;
  width: 100%;
  height: 2px;
}

.humbuger {
  margin-right: 43px;
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .humbuger {
    display: inline-block;
  }
}

.humbuger:before {
  top: 0;
  left: 0;
}

.humbuger:after {
  bottom: 0;
  left: 0;
}

.humburger__line {
  top: calc(50% - 1.5px);
  left: 0;
}

.footer {
  background: url(../../assets/images/main/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211f20;
}

@media (max-width: 767px) {
  .footer {
    height: auto;
  }
}

.layout-3-columns {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 20px;
}

.layout-3-columns > img {
  margin-top: 38px;
}

@media (max-width: 767px) {
  .layout-3-columns > img {
    margin-top: 37px;
  }
}

@media (max-width: 1279px) {
  .layout-3-columns {
    max-width: 642px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .layout-3-columns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-inner {
  height: 234px;
  -ms-flex-preferred-size: 27%;
      flex-basis: 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-inner > :nth-child(2) {
  margin-top: 4px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .footer-inner > :nth-child(2) {
    margin-bottom: 23px;
  }
}

.footer-inner a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer-inner a {
    margin-bottom: -4px;
  }
}

@media (max-width: 1279px) {
  .footer-inner {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
}

@media (max-width: 767px) {
  .footer-inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
}

.footer-inner-add {
  margin-left: -24px;
}

@media (max-width: 767px) {
  .footer-inner-add > h3 {
    max-width: 280px;
  }
}

.footer-inner-add > :nth-child(2) {
  margin-top: -2px;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .footer-inner-add > :nth-child(2) {
    margin-left: -7px;
    margin-top: 5px;
  }
}

.footer-inner-add > :nth-child(3) {
  margin-bottom: -17px;
}

@media (max-width: 767px) {
  .footer-inner-add > :nth-child(3) {
    margin-left: -30px;
  }
}

@media (max-width: 767px) {
  .footer-inner-add {
    margin: auto;
    margin-top: -5px;
  }
}

.footer-inner__title {
  margin-top: 55px;
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

@media (max-width: 1279px) {
  .footer-inner__title {
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .footer-inner__title {
    font-family: Georgia;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
    line-height: 130%;
  }
}

@media (max-width: 1279px) {
  .footer-inner-img {
    margin: auto;
  }
}

@media (max-width: 767px) {
  .footer-inner-img {
    width: 260px;
    height: auto;
  }
}

.footer-inner__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inner__link > div {
  margin-left: 19px;
}

.footer-inner__link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.footer-inner__link-content {
  text-decoration: none;
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  cursor: pointer;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

@media (max-width: 1279px) {
  .header {
    padding: 9px 30px 0 30px;
  }
}

@media (max-width: 767px) {
  .header {
    height: 120px;
    padding: 0 10px;
  }
}

.header__container {
  width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.logo {
  height: 60px;
  margin-bottom: 39px;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .logo {
    height: 72px;
  }
}

.logo__main {
  margin-bottom: 10px;
  font-family: Georgia;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #292929;
}

@media (max-width: 1279px) {
  .logo__main {
    margin-bottom: 7px;
  }
}

.logo__subtitle {
  margin-top: -3px;
  margin-left: 4px;
  font-family: Arial;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #292929;
}

@media (max-width: 1279px) {
  .logo__subtitle {
    margin-top: 6px;
  }
}

@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-inner > * {
  margin-left: 35px;
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  list-style-type: none;
  padding-bottom: 5px;
}

.navigation-inner > *:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-bottom: 3px #F1CDB3 solid;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.navigation-inner > * > * {
  text-decoration: none;
  color: #292929;
}

.nav__pets {
  border-bottom: 3px #F1CDB3 solid;
}

@media (max-width: 1279px) {
  .friends__container {
    max-width: 580px;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .friends__container {
    max-width: 320px;
  }
}

.pets {
  height: 1343px;
  background-color: #F6F6F6;
}

@media (max-width: 1279px) {
  .pets {
    height: auto;
    padding-bottom: 66px;
  }
}

@media (max-width: 767px) {
  .pets {
    padding-bottom: 34px;
  }
}

.pets__title {
  margin: auto;
  padding-top: 80px;
  width: 400px;
  font-family: Georgia;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}

@media (max-width: 1279px) {
  .pets__title {
    padding-top: 91px;
  }
}

@media (max-width: 767px) {
  .pets__title {
    width: auto;
    padding-top: 43px;
    font-family: Georgia;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 2.5rem;
    line-height: 3.1rem;
  }
}

.pets__container {
  max-width: 1200px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .pets__container {
    margin-top: 29px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .pets__container {
    margin-top: 43px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pets__btn {
  height: 51px;
  width: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px #F1CDB3 solid;
  border-radius: 100%;
  background: transparent;
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  line-height: 115%;
  color: #CDCDCD;
}

.pets__btn:nth-child(1) {
  border: 2px solid #CDCDCD;
}

.pets__btn:nth-child(2) {
  border: 2px solid #CDCDCD;
}

.pets__btn:nth-child(3) {
  background: #F1CDB3;
  color: #292929;
}

.pets__btn:nth-child(4) {
  color: #292929;
}

.pets__btn:nth-child(5) {
  color: #292929;
}

.btn__hover {
  cursor: pointer;
}

.btn__hover:hover {
  background-color: #FDDCC4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  border: 2px #FDDCC4 solid;
}

.pets__card {
  width: 270px;
  height: 435px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 9px;
  background-color: #FAFAFA;
  cursor: pointer;
}

.pets__card > img {
  margin-bottom: 30px;
  border-radius: 9px 9px 0 0;
}

.pets__card:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__card:hover .card__btn {
  background-color: #FDDCC4;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px #FDDCC4 solid;
}

@media (max-width: 767px) {
  .pets__card:nth-child(4) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets__card:nth-child(5) {
    display: none;
  }
}

@media (max-width: 767px) {
  .pets__card:nth-child(6) {
    display: none;
  }
}

@media (max-width: 1279px) {
  .pets__card:nth-child(7) {
    display: none;
  }
}

@media (max-width: 1279px) {
  .pets__card:nth-child(8) {
    display: none;
  }
}

.card__name {
  margin-bottom: 33px;
  font-family: Georgia;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2rem;
  letter-spacing: 0.06em;
}

.card__btn {
  width: 187px;
  text-align: center;
}

.pets__button {
  display: block;
  margin: 0 auto 100px auto;
  width: 261px;
  text-align: center;
}

.btn__wrapper {
  margin: auto;
  width: 340px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1279px) {
  .btn__wrapper {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .btn__wrapper {
    max-width: 300px;
  }
}

.layout-3-columns > img {
  margin-top: 41px;
}

@media (max-width: 1279px) {
  .layout-3-columns > img {
    margin-top: 75px;
  }
}

@media (max-width: 767px) {
  .layout-3-columns > img {
    margin-top: 37px;
  }
}
/*# sourceMappingURL=style.css.map */