$color-primary: #F1CDB3;
$color-light:#FFFFFF;
$color-light-add: #FAFAFA;
$color-black: #292929;
$color-hovered: #FDDCC4;
$color-bg: #F6F6F6;
//++++++++++++++++++
$tablet-width: 1280px;
$mobile-width: 767px;
//768px <= width < 1280px
//320px <= width < 768px